# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Package lock
package-lock.json
yarn.lock

# Dist folder
dist/
build/

# OS-specific files
.DS_Store  # macOS
Thumbs.db  # Windows

# IDE-specific files
.vscode/
.idea/

# Coverage reports
coverage/

# Optional npm cache directory
.npm/
